@model ReservationViewModel
@{
    ViewData["Title"] = "Hotelaria2 - New Registration";
}

<div class="w-full flex justify-center">
    <h1 class="text-4xl text-center m-4 p-2 border-b w-1/2">Select your room</h1>
</div>

<div class="text-center">

    <div class="row">
        <div class="col-md-12">
            <form id="reservationForm" method="post" asp-action="SaveReservation">

                <div class="flex flex-wrap justify-center">
                    @foreach (var room in Model.AvailableRooms)
                    {
                        <div class="room-card m-4 bg-white rounded-lg shadow-xl max-w-sm relative overflow-hidden transition-transform transform hover:scale-105" data-room-id="@room.Id">
                            <div class="relative">
                                <img class="w-full rounded-t-lg block" src="https://imgs.search.brave.com/dzFoS0CuMepRMmqpgpKUjE7nbCTREqZWrJpcvZzVbBY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/bGlnYWRvc2dhbWVz/LmNvbS9pbWFnZW5z/L3BvZ2NoYW1wLmpw/Zw" alt="Room image" />
                                <div class="absolute -top-3 left-0 right-0 bottom-0 bg-gradient-to-t from-white via-white/25 via-25% to-transparent rounded-t-lg"></div>
                            </div>
                            <div class="p-4">
                                <h3 class="text-2xl font-bold">@room.RoomType</h3>
                                <p class="text-gray-600">@room.Description</p>
                                <p class="text-gray-800 mt-2">@room.Rate.ToString("C") per night</p>
                            </div>
                        </div>
                    }
                </div>

                <input type="hidden" id="selectedRoomId" name="SelectedRoomID" value="" />
                <input type="hidden" id="totalAmount" name="TotalAmount" value="" />

                <div class="form-group">
                    <input asp-for="TotalAmount" class="form-control" />
                </div>

                <button type="submit" class="btn-primary">Confirm</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const roomCards = document.querySelectorAll('.room-card');
            roomCards.forEach(card => {
                card.addEventListener('click', function () {
                    roomCards.forEach(c => c.classList.remove('selected')); // Remove selected class from all cards
                    card.classList.add('selected'); // Add selected class to the clicked card
                    document.getElementById('selectedRoomId').value = card.dataset.roomId; // Set hidden input value
                });
            });
        });
    </script>

    <style>
        .room-card.selected {
            border: 2px solid #007bff;
            transform: scale(1.05);
        }
    </style>
}