@model ReservationViewModel
@{
    ViewData["Title"] = "Hotelaria2 - New Registration XXXXXXXXXX";
}

<div>Reservation View</div>

<div class="text-center">

    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="SaveReservation">

                <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))">
                    @foreach (var room in Model.AvailableRooms)
                    {
                        <div class="grid-item" style="border-width:5px">
                        <img src="https://imgs.search.brave.com/dzFoS0CuMepRMmqpgpKUjE7nbCTREqZWrJpcvZzVbBY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/bGlnYWRvc2dhbWVz/LmNvbS9pbWFnZW5z/L3BvZ2NoYW1wLmpw/Zw" alt="Image of Poggers" width="200" height="150" />
                        <h3>@room.RoomType</h3>
                        <p>@room.Description</p>
                        <p>Rate: @room.Rate.ToString("C") per night</p>
                        <label>
                            <input type="toggle" name="SelectedRoomID" value="@room.Id" required />
                            Select this room
                        </label>
                        </div>
                    }
                </div>

                <div class="form-group">
                    <input asp-for="TotalAmount">
                </div>

                <div class="form-group">
                    <input asp-for="RoomID">
                </div>

                <button type="submit" class="btn-primary">Confirm</button>
            </form>
        </div>
    </div>
</div>