@model PersonViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <div class="flex flex-col items-center justify-between px-6 py-8 mx-auto lg:py-0">
        <div class="w-full rounded-lg md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl border-b p-2">
                    Seja bem vindo!
                </h1>
                <form class="text-left space-y-4 md:space-y-6" asp-action="Save">
                    <div class="flex flex-row space-x-2 md:space-x-4">
                        <div>
                        <label for="firstname" class="block mb-2 text-sm font-medium">* Primeiro nome</label>
                        <input asp-for="FirstName" type="text" name="firstname" id="firstname"
                            class="bg-gray-50 border border-gray-400 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="John" required>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div>
                        <label for="lastname" class="block mb-2 text-sm font-medium">* Último nome</label>
                        <input asp-for="LastName" type="text" name="lastname" id="lastname"
                            class="bg-gray-50 border border-gray-400 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="Doe" required>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <label for="phonenumber" class="block mb-2 text-sm font-medium">* Seu número de telefone</label>
                        <input asp-for="PhoneNumber" type="tel" name="phonenumber" id="phonenumber"
                            class="bg-gray-50 border border-gray-400 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="+55 (11) 2345-6789" required>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium">* Seu email</label>
                        <input asp-for="Email" type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-400 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="johndoe@example.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium">* Seu novo nome de usuário</label>
                        <input asp-for="Username" type="text" name="username" id="username"
                            class="bg-gray-50 border border-gray-400 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="johndoe" required>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">* Sua nova                            senha</label>
                        <input asp-for="PasswordHash" type="password" name="passwordhash" id="password" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-400 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            required>
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-blue-800 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Login</button>
                    <p class="text-sm font-light text-gray-500 text-center">
                        Já possui uma conta? <a href="/login"
                            class="font-medium text-gray-700 hover:underline">Faça login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

</div>
